<%- include('partials/header', { title }) %>

<article class="post-full">
  <h1><%= title %></h1>
  <div class="meta">
    <% if (date) { %><time><%= date %></time><% } %>
    <% if (tags.length) { %>
      <span class="tags">
        <% tags.forEach(tag => { %>
          <span class="tag"><%= tag %></span>
        <% }) %>
      </span>
    <% } %>
  </div>
  <div class="content">
    <%- content %>
  </div>
</article>

<%- include('partials/footer') %>
